@model IEnumerable<DesignUrFixie.Models.Bike>

@{
    ViewBag.Title = "List of created Bikes";
}

<h2>List of created bike designs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.BikeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrameColour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaddleColour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HandlebarColour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WheelColour)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Payment", "Details", new { id = item.BikeId })  |
            @Html.ActionLink("Edit", "Edit", new { id = item.BikeId })  |
            @Html.ActionLink("Delete", "Delete", new { id = item.BikeId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrameColour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaddleColour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HandlebarColour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WheelColour)
        </td>
        
    </tr>
}

</table>
